.main-title {
    background-color: rgb(243, 61, 61);
    text-align: center;
    font-size: 40px;
    width: 800px;
    margin: 4px auto;
}
p {
    font-size: 16px;
}
.front-page {
    background-color: antiquewhite;
    padding: 8px;
}

ul {
    font-size: 25px;
}

img {
    height: 400px;
    width: auto;
}

.homepage {
    background-color: rgb(104, 236, 104);
    width: 150px;
    height: 75px;
    font-size: 20px;
}


/* will overwite ul I am pretty sure since class is higher than it*/
.directions { 
    font-size: 18px;
    background-color: rgb(255, 139, 139);
    padding: 32px;
}

.ingrediants {
    font-size: 18px;
    background-color: antiquewhite;
}
